/* ─── Base ───────────────────────────────────────────────── */

body {
    font-family: 'daVinci', serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #240F06;
}

@font-face {
  font-family: 'daVinci';
  src: url(/fonts/davinci-text.woff2);
}

@font-face {
  font-family: 'basisGrotesque';
  src: url(/fonts/basis-grotesque-regular.woff2);
}

@font-face {
  font-family: 'basisGrotesqueBold';
  src: url(/fonts/basis-grotesque-bold.woff2);
}

/* ─── Links ──────────────────────────────────────────────── */

a {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

a:hover,
a:focus {
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

a.active {
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.inline {
    border: none;
    padding: 0;
}

.inline:hover {
    text-decoration: underline;
    border: none;
}


/* ─── Headings ───────────────────────────────────────────── */

h4, h5, h6 {
    color: inherit;
}

h1, h2, h3 {
    font-family: 'daVinci';
    color: #4C2514;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0 0 40px 0;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    margin: 10px 0;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75em;
    margin: 4px 0;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75em;
    margin: 0;
}

h5 {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
}


/* ─── Misc ───────────────────────────────────────────────── */

strong {
    font-weight: 400;
}

#copyright {
    font-size: 10px;
}


/* ─── Responsive ─────────────────────────────────────────── */

@media (max-width: 700px) {

    h1 {
        font-size: 20px;
        line-height: 1.5em;
        margin: 0 0 24px 0;
    }

    h2 {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 600;
    }

    h3 {
        line-height: 1.5em;
    }
}