/* Fonts */

body {
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
    line-height: 1.5em;
    color: #333333;
}

a {
	text-decoration: none;
	font-weight: 600;
    color: #000000;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

a:hover, a:focus{
	color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    text-decoration: none;
}

.current {
    border: 1px solid #000;
}

.inline {
    border: none;
    padding: 0px;
}

.inline:hover {
    text-decoration:underline;
    background-color: none;
    color: #fff;
    border: none;
}

#copyright {
    font-size: 10px;
}

strong {
    font-weight: 400;
}

h1 {
	font-size: 24px;
	color: #000;
    font-weight: 600;
    line-height: 1.25em;
    margin: 8px 0px 24px 0px;
}

h2 {
	font-size:20px;
	color: #000;
	font-weight: 600;
	line-height: 1.5em;
	padding-bottom: 10px;
    margin: 0;
}

h3 {
	font-size: 18px;
	color: #565459;
	font-weight: 600;
	line-height: 1em;
    margin: 0;
}

h4 {
    font-size: 14px;
    color: #565459;
    font-weight: 400;
    line-height:1.75em;
    margin: 0;
}

h5 {
    font-size: 12px;
	color: #565459;
    font-weight: 400;
    margin: 0 0 20px 0;
}

/* Responsive Rules */

/* Tablet */

@media only screen and (max-width: 768px) {
    h1 {
        margin: 4px 0px 16px 0px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 600;
    }
    
    h3 {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 600;
    }
}

/* Mobile */

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
        line-height: 1.5em;
        margin: 4px 0px 8px 0px;
    }
    
    h2 {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 600;
    }
    
    h3 {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 600;
    }
    
}