/* ─── Base ───────────────────────────────────────────────── */

body {
    font-family: 'basisGrotesque', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #161616;
}

p {
    margin-bottom: 16px;
}

@font-face {
  font-family: 'daVinci';
  src: url(/fonts/davinci-text.woff2);
}

@font-face {
  font-family: 'basisGrotesque';
  src: url(/fonts/basis-grotesque-regular.woff2);
}

@font-face {
  font-family: 'basisGrotesqueBold';
  src: url(/fonts/basis-grotesque-bold.woff2);
}

/* ─── Links ──────────────────────────────────────────────── */

a {
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #404040;
}

a.active {
    text-decoration: none;
    color: #404040;
    font-weight: 600;
}

.inline {
    border: none;
    padding: 0;
}

.inline:hover {
    text-decoration: underline;
    border: none;
}


/* ─── Headings ───────────────────────────────────────────── */

h1, h2, h3 {
    font-family: 'basisGrotesque', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    margin: 40px 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    margin: 8px 0;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75em;
    margin: 4px 0;
}

h5 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
    font-style: italic;
}


/* ─── Misc ───────────────────────────────────────────────── */

strong {
    font-weight: 400;
}

#copyright {
    font-size: 10px;
}


/* ─── Responsive ─────────────────────────────────────────── */

@media (max-width: 700px) {

    h1 {
        font-size: 24px;
        line-height: 1.5em;
        margin: 32px 0;
    }

    h3 {
        line-height: 1.5em;
        font-size: 18px;
    }
}