/* ─── Base ───────────────────────────────────────────────── */

body {
    font-family: 'unica77-light', sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    color: #363636;
}

p {
    margin-bottom: 16px;
}

@font-face {
  font-family: 'unica77-light';
  src: url(/fonts/unica77-light.woff2);
}

@font-face {
  font-family: 'basisGrotesque';
  src: url(/fonts/basis-grotesque-regular.woff2);
}

/* ─── Links ──────────────────────────────────────────────── */

a {
    font-family: basisGrotesque;
    text-decoration: underline;
    color: #ad3315;
    margin-bottom: 10px;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: rgb(202, 78, 78);
}

a.active {
    text-decoration: none;
    color: rgb(202, 78, 78);
}

.inline {
    border: none;
    padding: 0;
}

.inline:hover {
    text-decoration: underline;
    border: none;
}


/* ─── Headings ───────────────────────────────────────────── */

h1, h2 {
    font-family: 'basisGrotesque', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 32px 0;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    margin: 8px 0;
}

h3 {
    font-size: 16px;
    line-height: 1em;
    margin: 8px 0;
    font-weight: 400;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75em;
    margin: 4px 0;
    font-family: unica77-light;
}


/* ─── Misc ───────────────────────────────────────────────── */

i {
    font-weight: 600;
}

#copyright {
    font-size: 10px;
    font-family: basisGrotesque;
}


/* ─── Responsive ─────────────────────────────────────────── */

@media (max-width: 700px) {

    h1 {
        font-size: 24px;
        line-height: 1.5em;
        margin: 32px 0;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        line-height: 1.5em;
        font-size: 14px;
    }
}