/* Home page */

body {
	overflow: hidden;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.wrapper {
  transition: all 1s ease-in;
}

.swappie {
    text-decoration: none;
	font-weight: 600;
    color: #000000;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: transparent;
	display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
	transition: all .3s;
    text-transform: none;
    text-align: center;
}

.swappie:focus {
    outline-color: #fff;
    border: 0;
}

#bio {
    visibility: visible;
    opacity: 1;
	position: absolute;
	left: 200px;
	top: 30%;
    width: 40%;
    z-index: 2;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition-delay: opacity 1s ease-in;
    scroll-behavior: smooth;
}

#about {
    visibility: hidden;
    opacity: 0;
    position: absolute;
	left: 200px;
	top: 150px;
    width: 50%;
    margin-bottom: 100px;
    z-index: 2;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    transition-delay: opacity 1s ease-in;
    scroll-behavior: smooth;
    overscroll-behavior: auto;
}

/* Animation */

#animation {
    position: fixed;
    opacity: 1;
    bottom: 0;
    right: 0;
    height: 720px;
    width: 726px;
    background: url('/img/animated-portrait.gif') left center;
    animation: play 2.8s steps(29) infinite;
    z-index: -1;
    transition: right .5s linear;
}

/*#animBox {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 720px;
    width: 726px;
}
    height: 720px;
    width: 726px;*/

@keyframes play {
    100% { background-position: -21054px; }
}

.bio > div, .about > div {
  transform: translateY(-100%);
  transition: .4s ease-in-out;
}
.about > div {            
  transform: translateY(0);
} 

/* Responsive rules */

@media only screen and (max-width: 768px) {
    
    #bio {
        top: 20%;
        width: 60%;
        left: 25%;
    }
    
    #about {
        width: 70%;
        left: 20%;
    }

}

@media only screen and (max-width: 400px) {
    
    #bio {
        top: 30%;
        width: 50%;
        left: 25%;
    }
    
    #about {
        top: 15%;
        width: 68%;
        left: 25%;
    }
    
    #animation {
        opacity: 0.2;
        width: 500px;
    }

}

