#bgimg {
    position: fixed;
    bottom: -10%;
    right: -10%;

    width: auto;
    height: 75%;
    aspect-ratio: 726 / 720;

    background: url('/img/clapsticks-top-diag.png') center / cover no-repeat;

    opacity: 1;
    z-index: -1;
    pointer-events: none;
}

#content {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {

    #bgimg {
        height: 50%;
    }

}
