#bgimg {
    position: fixed;
    bottom: -10%;
    right: -10%;

    width: auto;
    height: 75%;
    aspect-ratio: 726 / 720;

    background: url('/img/clapsticks-top-diag.png') center / cover no-repeat;

    opacity: 1;
    z-index: -1;
    pointer-events: none;
}

#content {
    position: relative;
    z-index: 1;
}

@media (max-width: 900px) {

    #bgimg {
        position: relative;
        height: 50%;
        width: auto;
        margin-top: 2rem;       /* space below content */
        z-index: -1;            /* still behind everything except menu */
    }

}

@media (max-width: 600px) {

    #bgimg {
        position: relative;
        height: 50%;
        width: auto;
        margin-top: 2rem;       /* space below content */
        z-index: -1;            /* still behind everything except menu */
    }

}
