/* =========================
   Static background element
   ========================= */

#bgimg {
    position: fixed;
    bottom: 0;

    /* Align with right edge of content column */
    right: calc((100vw - 1100px) / 2);

    width: min(32vw, 420px);
    aspect-ratio: 726 / 720;

    background: url('/img/clapsticks-main.jpg') center / cover no-repeat;

    opacity: 1;
    z-index: -1;
    pointer-events: none;

    transition: right .5s linear;
}


/* =========================
   Content animation states
   ========================= */

.bio > div,
.about > div {
    transform: translateY(-100%);
    transition: transform .4s ease-in-out;
}

.about > div {
    transform: translateY(0);
}


/* =========================
   Layout safety
   ========================= */

#content {
    position: relative;
    z-index: 1;
}


/* =========================
   Responsive behaviour
   ========================= */

@media (max-width: 900px) {

    #bgimg {
        position: relative;
        right: auto;
        bottom: auto;

        margin: 4rem auto 0;
        width: 60%;
        max-width: 320px;
    }

}

@media (max-width: 400px) {

    #bio {
        width: 75%;
        left: 40px;
        top: 320px;
    }

}
