body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/** 1 **/

.menuPanel {
    width: 20%;
    height: 50%;
    position: fixed;
    top: 60px;
    left: 40px;
}

#menu {
    width: 200px;
}

#menu a {
    display: block;
    width: auto;
}

/** 2 **/

#content {
    position: fixed;
    left: 300px;
    top: 60px;
    width: 50%;
    height: 100%;
    z-index: 1;
}

#column {
    max-width: 500px;
}


/** 3 **/

.footerLeft {
    width: 20%;
    height: 50%;
    position: fixed;
    bottom: 30px;
    left: 40px;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: left;
}

#socials {
    display: block;
}

#date {
    max-width: 150px;
}

#insta a {
    display: block;
    height: 12px;
    background-image: url(/img/ig-colour.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

#insta a:hover {
    opacity: 0.7;
    background-color: transparent;
}

#copyright {
    display: block;
}

/** 4 **/

.footerRight {
    width: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
}

#bgimg {
    background: url('/img/clapsticks-top-diag.png') center / cover no-repeat;
    height: 100%;
    aspect-ratio: 726 / 720;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
    bottom: -15%;
    right: -43%;
    position: relative;
}

@media only screen and (max-width: 768px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        left: 10%;
    }

    .v-menu,
    #menu-placeholder {
        order: 1;
        position: relative;
        left: 0;
        top: 0;
        width: 80%;
        max-width: 300px;
        margin: 20px 0 10px 0;
    }

    #content {
        order: 2;
        position: relative;
        left: 0;
        top: 0;
    }

    #column {
        width: 100%;
    }

    #bgimg {
        order: 3;
        position: relative; 
        background-size: cover;
        background-position: center;
        height: 100%;
        right: -30%;
    }

    .footer,
    #footer-placeholder {
        order: 4;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .socials {
        display: flex !important;
        gap: 10px;
        height: 16px;
    }

    #insta,
    #copyright {
        display: inline-block !important;
        float: none !important;
        vertical-align: middle;
    }

    .date {
        margin-bottom: 0;
    }

}
