html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/** 1 **/

.menuPanel {
    position: fixed;
    top: 60px;
    left: 40px;
    width: 20%;
    z-index: 10;
}

#menu {
    width: 200px;
}

#menu a {
    display: block;
}

/** 2 **/

#content {
    position: relative;
    margin-left: 300px;
    padding-top: 60px;
    width: calc(100% - 300px);
    min-height: 100vh;
    box-sizing: border-box;
}

#column {
    max-width: 600px;
    width: 70%;
    padding-bottom: 160px;
}

/************/

.lowCont {
    width: 100%;
}

/************/

/** 3 **/

.footerLeft {
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 20%;
    z-index: 2;
}

#footer {
    width: 100%;
    text-align: left;
}

#socials,
#copyright {
    display: block;
}

#date {
    max-width: 150px;
}

#insta a {
    display: block;
    height: 12px;
    background-image: url(/img/ig-colour.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

#insta a:hover {
    opacity: 0.7;
    background-color: transparent;
}

/** 4 **/

.footerRight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#bgimg {
    position: absolute;
    inset: 0;
    background: url('/img/clapsticks-top-diag.png') center / cover no-repeat;
    opacity: 1;
}

/************/

@media (max-width: 768px) {

    .menuPanel {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        margin: 20px;
    }

    #content {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }

    #column {
        width: 100%;
        max-width: 100%;
        padding-bottom: 40px;
    }

    .footerLeft {
        position: relative;
        width: 20%;
    }


    .footerRight {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        width: 80%;
        height: auto;
        margin-top: 40px;
        pointer-events: auto;
    }

    #bgimg {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 726 / 720;
    }
}
