/* Structure */

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.v-menu {
    width: 200px;
    position: fixed;
    top: 60px;
    left: 40px;
}

.v-menu a {
    display: block;
    width: auto;
}

.footer {
    width: 100%;
    position: fixed;
    left: 40px;
    bottom: 20px;
    z-index: 1;
    text-align: left;
}

.socials {
    display: block;
}

.date {
    max-width: 150px;
}

#insta a {
    display: block;
    height: 12px;
    background-image: url(/img/ig-colour.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

#insta a:hover {
    opacity: 0.7;
    background-color: transparent;
}

#copyright {
    display: block;
}

#content {
    position: absolute;
    left: 300px;
    top: 60px;
    width: 80%;
    max-width: 500px;
}

#content img {
    max-width: 100%;
}

#contentBody {
    width: 85%;
}

#column {
    width: auto;
}

.journal {
    width: 45%;
    max-width: 500px;
    word-wrap: break-word;
    float: left;
    margin: 0 24px 24px 0;
}

.journal a {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 0;
    font-weight: 400;
    filter: grayscale(0);
    transition: filter 1s ease-in-out, border 0s;
    margin-bottom: 0;
}

.journal a:hover,
a:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    text-decoration: underline;
    filter: grayscale(100%);
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 4px 4px 0 0;
}

.desc {
    padding: 16px;
}

/* Chonks */

.chunk {
    padding: 20px 0;
    width: 100%;
    float: left;
}

.smallChunk {
    padding: 4px 0;
    width: 100%;
    float: left;
}

.medChunk {
    padding: 8px 0;
    width: 100%;
    float: left;
}

.largeChunk {
    padding: 40px 0;
    width: 100%;
    float: left;
}

.halfChonk {
    display: flex;
    align-items: flex-start;
    width: 100%;
    float: left;
}

.halfChonk > div {
    flex: 1;
    padding: 20px 24px 20px 0;
}

@media only screen and (max-width: 1000px) {

    .wrapper {
        display: block;
        flex-direction: column;
        left: 10%;
        overflow: visible;
        position: relative;
    }

    .v-menu,
    #menu-placeholder {
        order: 1;
        position: relative;
        left: 0;
        top: 0;
        width: 80%;
        max-width: 300px;
        margin: 40px 0 8px 0;
    }

    #content {
        order: 2;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
        margin: 40px 0px 56px 0px;
    }

    #column {
        width: 100%;
    }

    .journal {
        width: 100%;
    }

    #bgimg {
        order: 3;
        position: absolute; 
        right: -10%;
        z-index: 0;
        bottom: -20%;
        opacity: 0.2;
    }

    .footer,
    #footer-placeholder {
        order: 4;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .socials {
        display: flex !important;
        gap: 10px;
    }

    #insta,
    #copyright {
        display: inline-block !important;
        float: none !important;
        vertical-align: middle;
    }

    .date {
        margin-bottom: 0;
    }

    .halfChonk {
        display: block;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0;
    }

    .thumbnail img {
        width: 100%;
    }
}
