/* Structure */

body {
	background-color: #fff;
}

.wrapper {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.sidebar, #navMain, #menu, #navRes {
    top: 60px;
}

.sidebar, #navMain, #menu, #footer, #navRes {
    position: fixed;
}

.sidebar {
    padding: 0px 24px 40px 24px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    z-index: 10;
}

.sidebar a{
    white-space: nowrap;
    margin-bottom: 24px;
    background-color: white;
} 

#navMain {
    left: 2.5%;
}

#footer {
    bottom:40px;
}

#navRes {
    border-left: 4px solid #993cf3;
    bottom: 0;
    left: 10%;
}

#navRes a {
    font-size: 16px;
    line-height: 56px;
}

#content {
    position: absolute;
	left: 250px;
	top: 10%;
    width: 60%;
    z-index: 2;
}

#contentBody {
    width: 80%;
}

/* Chonks */

.chunk {
    padding: 20px 0px 20px 0px;
}

.smallChunk {
    padding: 8px 0px 8px 0px;
}

.largeChunk {
    padding: 40px 0px 40px 0px;
}

.halfChonk {
    display: flex;
}

.halfChonk > div {
    flex: 1;
    padding: 20px 24px 20px 0px;
}

/* Responsive Rules */

/* Tablet */

@media only screen and (max-width: 768px) {     
    #menu, #footer {
        left: 5%;
    }

    #navRes {
        left: 12%;
    }
}

/* Mobile */

@media only screen and (max-width: 400px) {
    .sidebar, #menu {
        top: 80px;
    }

    #navRes {
        left: -100px;
    }

    #menu, #footer {
        left: 7%;
    }

    #content {
        top: 80px;
        width: 75%;
        left: 24%;
    }
    
    .halfChonk {
        display: initial;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0px 20px 0px;
    }
    
}
