.journal {
    width: 45%;
    max-width: 500px;
    word-wrap: break-word;
    float: left;
    margin: 0 24px 24px 0;
}

.journal a {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 0;
    font-weight: 400;
    filter: grayscale(0);
    transition: filter 1s ease-in-out, border 0s;
    margin-bottom: 0;
}

.journal a:hover,
a:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    text-decoration: underline;
    filter: grayscale(100%);
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 4px 4px 0 0;
}

.desc {
    padding: 16px;
}

@media only screen and (max-width: 1000px) {

.journal {
        width: 100%;
    }

    .thumbnail img {
        width: 100%;
    }

}