/* Fonts */

body {
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
    line-height: 1.2em;
    color: #333333;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 14px;
    font-weight: 600;
}

p {
    font-size: 14px;
}

/* Popup */
    
.mapboxgl-popup {
    max-width: 300px;
    overflow-wrap: break-word;
}

/* Structures */

#menuCont {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 64px;
}

#menu {
    padding: 24, 8, 80, 8;
}