/* Structure */

body {
	background-color: #fff;
}

.wrapper {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#sidebar {
    display: flex;
    position: fixed;
    width: 10%;
    left: 2%;
    top: 60px;
    bottom: 0px;
}

#sidebar > div {
    flex: 1;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    top: 60px;
    padding-right: 40px;
}

#sidebar a{
    margin-bottom: 12px;
    background-color: white;
    white-space: nowrap;
}

#navRes, #menu, .sidebar {
    z-index: 10;
}

#navRes {
    border-left: 4px solid #993cf3;
    line-height: 56px;
    padding-left: 16px;
    margin-left: 16px;
}

#menu {
    position: fixed;
    top: 60px;
}

#footer {
    position: fixed;
    bottom: 40px;
    z-index: 0;
}

#content {
    position: absolute;
	left: 250px;
	top: 10%;
    width: 60%;
    z-index: 2;
}

#content img {
    max-width: 100%;
}

#contentBody {
    width: 80%;
}

/* Chonks */

.chunk {
    padding: 20px 0px 20px 0px;
}

.smallChunk {
    padding: 8px 0px 8px 0px;
}

.largeChunk {
    padding: 40px 0px 40px 0px;
}

.halfChonk {
    display: flex;
}

.halfChonk > div {
    flex: 1;
    padding: 20px 24px 20px 0px;
}

/* Responsive Rules */

/* Tablet */

@media only screen and (max-width: 768px) {     
    .sidebar {
        left: 4%;
    }

    #content {
        left: 200px;
        width: 75%;
    }

    .sidebar a {
        font-size: 16px;
    }
}

/* Mobile */

@media only screen and (max-width: 400px) {
    .sidebar, #menu {
        top: 80px;
    }

    .sidebar {
        display: initial;
        left: 6%;
    }

    #navRes {
        visibility: collapse;
    }

    #content {
        top: 80px;
        width: 75%;
        left: 24%;
    }
    
    .halfChonk {
        display: initial;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0px 20px 0px;
    }
    
}
